@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

label {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}